@import url('http://fonts.cdnfonts.com/css/pixel-art');
*{
    margin:0;
    box-sizing: border-box;
}
body{
    background: #101010;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    background: #353535;
    line-height:27px;
    padding: 10px;
    border-radius: 60px;
}
.search-input{
    background: #353535;
    color: #fff;
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family: 'Pixel-Art', sans-serif;
}
.search-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #ff5722;
    transition: 0.4s ease;
}
.search-box:hover > .search-input{
    width: 240px;
    margin: 0px 8px;
}
.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.search-box:hover > .search-btn{
    background: #fff;
}
.search-input:focus + .search-btn{
    background: #fff;
}

.my-span {
    color: white;
}

body{
    font-family: 'Pixel-Art', sans-serif;
  }
  *{
    text-decoration: none;
    list-style-type: none;
  }
  
  .profile-card{
    font-family: 'Pixel-Art', sans-serif;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
    transition: all 150ms ease-in-out;
  }
  .profile-card:hover{
    border: 1px solid blue;
    box-shadow: 0 0 10px 1px;
  }
  
  .card-header{
    font-family: 'Pixel-Art', sans-serif;
    width: 50%;
    padding:10px 0 0px 0;
    margin: 0 auto;
    text-align: center;
    background: #2196F3;
    color: #fff;
  }
  .card-header:hover{
    background: #0960a5;
  }
  
  .card-info{
    padding: 1em;
    margin: 50px 5px 0 5px;
  }
 
  .image1{
    position:relative;
    top:50%px;
    
    width: 150px;
    height: 150px;
    border-radius:50%;
    
  }
  .image1:hover{
    border-radius: 10%;
  }
  .card-footer{
    font-family: 'Pixel-Art', sans-serif;
    border-top: 1px solid gray;
    width: 45%;
    margin: 0 auto;
  }
  .card-footer ul li{
    display: inline-block;
  }
  .card-footer ul li:first-child{
    margin-right: 116px;
  }
  .bottom h2{
    text-align: center;
    margin-bottom: 0;
  }
  
  .fa-bars {
    margin-right: 10px;
  }
  
  .navigation-menu {
    background: #353535;
    height: 100%;
    width: 50%;
    padding: 60px 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: fixed;
    right: -45%;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
    font-size: 60px;
  }
  
  .navigation-menu li {
    padding: 30px 0;
  }
  
  .navigation-menu li:nth-of-type(2n) {
    background: #353535;
  }
  
  .navigation-menu li:hover {
    background: #353535;
  }
  
  .navigation-menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition:all 0.3s;
  }
  
  .navbar {
    background: #353535;
    padding: 20px;
    position: fixed;
    width: 95%;
    top: 0;
  }
  
  .content {
    width: 80%;
    margin: 40px auto;
    padding-top: 75px;
    transition: all 0.5s; 
    position: relative;
    left: 0;
  }
  
  #toggle {
    display: none; 
  }
  
  label[for="toggle"] {
    cursor: pointer;
    font-size: 30px;
    margin-left: 40px;
  }
  
  input#toggle:checked + ul.navigation-menu {
    right: 0;
  }
  
  input#toggle:checked ~ .content {
    left: -45%;
  }